*{
	margin: 0;
}

body{
	background-color: #ebc64d;
}

#cabeca{
	width: 100%;
	height: 20vh;
	background-color: #e33529;
	align-items: center;
}

#cabeca img{
	width: auto;
	height: 100%;
	margin-top: 0.75%;
}

.pai{
	background-color: #ebc64d;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 10%;
}


h1{
	text-align: center;
	font-family: ;
	font-size: 50px;
	margin-top: 5%;
	margin-bottom: 5%;
}

h2{
	margin-top: 5%;
}

h3{
	margin-top: 2%;
	margin-bottom: 1%;
}

p{
	font-family: sans-serif;
	margin-top: 2%;
}

ul{
	font-family: sans-serif;
	margin-left: 7%;
	margin-bottom: 3%;
}

a{
	font-family: sans-serif;
	text-decoration: none;
}

img{
	width: 300px;
	height: auto;
	margin-top: 2%;
}

.conteudo{
	width: 75%;
}

footer{
	width: 100%;
	height: 15vh;
	background-color: #e33529;
	display: flex;
	justify-content: center;
}

footer p{
	font-family: cursive;
	font-size: 20px;
	margin-top: 7vh;
}